/* @media all and(max-width: 768px){
    .info p{
        color: red;
    }
    .menu li{
        display: grid;
        border-top:0;
        padding-top: 0;
    }
    .sec1{
       display: inline;
    }
} */

@font-face{
    src: url("./font/FontsFree-Net-Billabong.ttf");
    font-family: "insta";
}
@font-face {
    font-family: 'UhBeemysen';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_five@.2.0/UhBeemysen.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/* @charset "UTF-8"; */

body{
    margin:0;
    font-family: 'Source Sans Pro', 'Roboto', sans-serif;
}
a{
    text-decoration: none;
    color: black;
    padding-left: 70px;
    padding-right: 70px;
}
section{
    background-color: #fafafa;
    font-family: 'Source Sans Pro', 'Roboto', sans-serif;
}
main{
    margin: 0% 20% 0% 20%;
    padding: 4% 0% 4% 0%;
}
.title i{
    display: none;
}
.title{
    display: flex;
    justify-content: center;
    font-family: "insta";
    font-size: 50px;
    padding: 20px;
}
.menu{
    display: flex;
    list-style: none;
    padding-left: 0;
    justify-content: center;
    font-size: 20px;
    border-top: solid 1px black;
    padding: 10px;
}
#showli{
    display: none;
}
.connect{
    padding-top: 5%;
    font-size: 60px;
    color: black;
}
.connect i:hover{
	color: #3A95FF;
}
.connect a i:hover{
    color: #3A95FF;
}
.navbar{
    border-bottom: solid 1px black;
}
.box{
    width: 300px;
    height: 300px;
    border-radius:70%;
    overflow: hidden;
    background: #bdbdbd;
    /* margin-left: 10px; */
}
.profile{
    width: 300px;
    height: 300px;
    /* object-fit: cover; */
    
}
.sec1{
    display: flex;
    justify-content: space-around;
    margin-bottom: 2%;
}
.info{
    /* margin-top: 1px; */
    font-size: 23px;
}

.connect{
    display: flex ;
    justify-content: space-evenly;
}

ul, li{margin:0;padding:0;list-style:none} 
.container{width:100%;max-width:1400px;margin:0 auto;overflow:hidden;} 
.gallery{box-sizing:border-box;} 
.gallery:after{content:"";display:block;clear:both;visibility: hidden;} 
.gallery li{
    width:30%;
    float:left;
    box-sizing:border-box;
    padding:0 20px;
    margin:0 0 20px 0;
} 
.gallery li img{width:100%;height:auto;}

#goal{
    text-align: center;
    font-family: "UhBeemysen";
	padding-bottom: 5%;
}
#goal h1{
	font-size:50px;
}
#goal p{
	font-size:40px;
}
#goal p:hover{
	font-size:50px;
}
#playlist h1{
    text-align: center;
    font-family: "UhBeemysen";
    font-size:50px;
}
#playlist{
    padding: 4px;

}
@media (max-width:960px){
    .container .gallery li{
        width:50%;
       } 
   } 
@media (max-width:580px){
    .container .gallery li{
        width:100%;
       }
    }
@media (max-width:1200px){ 
   .sec1{
       display: block;
    }
    .box {
        text-align: center;
    }
    #sec1{
       display: block;
       text-align: center;
    }
}

@media screen and (max-width :800px){
   .menu {
       /* display: grid; */
       text-align: center;
       display: none;
   }
   .menu li{
       padding: 5px;
       width: 100%;
   }
   .menu a{
        width: 100%;
   }
   .menu li:hover{
       background-color: #EAECEE;
   }
   #title {
       display: inline;
   }
   #title i{
       display: inline;
       font-size: 35px;
       color: black;
       float: right;
       padding: 10px;
       padding-bottom: 10px;
   }
   #title a{
       padding-left: 10px;
       padding-right: 10px;
   
   }
   .menu.active{
       display: grid;
   }
}